#nav-bar {
  z-index: 1000;
  position: fixed;
  background-color: #00a087;
  height: 80px;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;

}

#nav-bar .header {
  float: left;
  text-align: center;
  color: #e8fdff;
  font-size: 200%;
  line-height: 80px;
  margin-left: 10px;
}


#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .compose {
  padding: 0.5em 0.3em 0.5em 0.3em;
  margin: 10px;
  float: right;
  border-radius: 10px;
  font-size: larger;
}