 .new-tweet {
   background-color: #eee;
   border-color: #A9A9A9;
   border-style: solid;
   border-radius: 10px;
   padding-left: 1em;
   padding-right: 1em;
   margin-bottom: 2em;

 }

 .new-tweet h2 {
  border-bottom: solid 1px black;
  text-align: left;
}

.new-tweet textarea {
  width: 100%;
  padding: 1em;

}

.new-tweet .counter {
  float: right;

}


